<div class="container-fuild">
    <h1>Template Driven Form</h1>
    <form #userForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
        Is form valid: {{ userForm.form.valid| json }}
          Form Values: {{ userForm.value | json }}
        <hr/>
        {{ userModel | json}}
        <div class="form-group">
            <label>Name</label>
            <input type="text" #name="ngModel" [class.is-invalid]="name.invalid && name.touched" class="form-control" name="name" [(ngModel)]="userModel.name" required>
            <small *ngIf="name.invalid && name.touched">name is required</small>
            <!-- {{ name.className }} -->
            <!-- {{ name.invalid }}
            {{ name.pristine }} -->
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="email" class="form-control" name="email" [(ngModel)]="userModel.email">
        </div>
        <div class="form-group">
            <label>Phone</label>
            <input type="tel" class="form-control" name="phone" [(ngModel)]="userModel.phone">
        </div>
        <div ngModelGroup="address">
            <div class="form-group">
                <label>Street</label>
                <input type="text" class="form-control" name="street" ngModel>
            </div>
            <div class="form-group">
                <label>City</label>
                <input type="text" class="form-control" name="city" ngModel>
            </div>
            <div class="form-group">
                <label>State</label>
                <input type="text" class="form-control" name="state" ngModel>
            </div>
            <div class="form-group">
                <label>Postal Code</label>
                <input type="text" class="form-control" name="postalCode" ngModel>
            </div>
        </div>
        <div class="form-group">
            <select class="custom-select" name="topic" ngModel>
                <option value="">I am interested in </option>
                <option *ngFor="let topic of topics">{{ topic }}</option>
            </select>
        </div>
        <div class="mb-3">
            <label>Time Preference</label>
            <div class="form-check">
                <input type="form-check-input" [(ngModel)]="userModel.timePreference" type="radio" name="timePreference" value="morning">
                <label class="form-check-label">Morning (9AM - 12PM)</label>
            </div>
            <div class="form-check">
                <input type="form-check-input" [(ngModel)]="userModel.timePreference" type="radio" name="timePreference" value="evening">
                <label class="form-check-label">Morning (5PM - 8PM)</label>
            </div>
        </div>
        <div class="form-check mb-3">
            <input class="form-check-input" name="subscribe" type="checkbox" [(ngModel)]="userModel.subscribe">
            <label class="form-check-label">Send me promotional offers</label>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>

