<nav>
    <h5><a routerLink="dashboard" routerLinkActive="active">Dashboard</a></h5>
    <h5><a routerLink="employee-list" routerLinkActive="active">Employee List</a></h5>
    <h5><a routerLink="place-holder" routerLinkActive="active">Place Holder</a></h5>
    <h5><a routerLink="course-list" routerLinkActive="active">Courses</a></h5>
    <h5><a routerLink="view-child" routerLinkActive="active">View Child Example</a></h5>
    <h5><a routerLink="t-form" routerLinkActive="active">Template Driven form</a></h5>
    <h5><a routerLink="r-form" routerLinkActive="active">Reactive form</a></h5>
</nav>
